{{> headd }}
    {{> navbar }}
    <div class="row">
        <div class="col-8">
            <h1>Batman</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur magni tenetur recusandae reiciendis aliquam porro asperiores voluptates officiis obcaecati assumenda eligendi aperiam, libero quisquam minima animi architecto maiores unde. Omnis.</p>
        </div>

        <div>
            <img src="assets/img/batman.jpg" alt="img-thumbnail">
        </div>
    </div>

    {{> footer}}